
// couleur
$color-base : darken(#fff, 20);
$color-paragraph: #666;
$color-primary: #00aff0; //#725A9F;
$color-warning: orange;
$color-error: red;
$color-ok: #00FF00;

$background-menubar: #343843;

$color-theme: #D89949;


// Breakpoints
$medium-size: 40.063em !default;
$large-size:  64.063em !default;


// Grid
$total-columns : 12 !default;
$gutter: 20px !default;




$sidebar-width: 230px;