
// couleur
$color-theme: #D89949;
$color-base : darken(#fff, 20);
$color-menu: rgb(54, 53, 52);
$color-container: #666;
$color-topbar: #34495E;
$color-close: #EF4836;
$color-minimize: #3498DB;

$color-warning: #E67E22; //orange;
$color-error: #F22613; //red;
$color-ok: #2ECC71; //#00FF00;
$color-unknow: darken(#fff, 35);

// menu
$menu-height: 80px;
$topbar-height: 28px;

// Breakpoints
$medium-size: 40.063em !default;
$large-size:  64.063em !default;


// Grid
$total-columns : 12 !default;
$gutter: 20px !default;




$sidebar-width: 230px;