
// couleur
$color-theme: #D89949;
$color-base : darken(#fff, 20);
$color-menu: rgb(54, 53, 52);
$color-container: #666;

$color-warning: orange;
$color-error: red;
$color-ok: #00FF00;
$color-unknow: darken(#fff, 35);

// menu
$menu-height: 80px;

// Breakpoints
$medium-size: 40.063em !default;
$large-size:  64.063em !default;


// Grid
$total-columns : 12 !default;
$gutter: 20px !default;




$sidebar-width: 230px;