@include breakpoint(small) {
	@for $i from 1 through $total-columns {
		%small-column-#{$i} {
			display: block;
			float: left;
			position: relative;
			min-height: 1px;
			width: $i / $total-columns * 100%;
		}
	}
}

@include breakpoint(medium) {
	@for $i from 1 through $total-columns {
		%medium-column-#{$i} {
			display: block;
			float: left;
			position: relative;
			min-height: 1px;
			width: $i / $total-columns * 100%;
		}
	}
}


@include breakpoint(large) {
	@for $i from 1 through $total-columns {
		%large-column-#{$i} {
			display: block;
			float: left;
			position: relative;
			min-height: 1px;
			width: $i / $total-columns * 100%;
		}
	}
}



@mixin column($column) {
	@extend %small-column-#{$column} !optional;
}

@mixin small-column($column) {
	@extend %small-column-#{$column} !optional;
}

@mixin medium-column($column) {
	@extend %medium-column-#{$column} !optional;
}

@mixin large-column($column) {
	@extend %large-column-#{$column} !optional;
}

@mixin generate-responsive-grid(){}