.l-container {
	display: block;
	position: relative;
	min-height: 1px;
	width: 100%;
	height: calc(100% - #{$menu-height} - #{$topbar-height});
	overflow: overlay;
	padding: 0 10%;

	color: $color-container;
}