@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-nryy4j');
	src:url('fonts/icomoon.eot?#iefix-nryy4j') format('embedded-opentype'),
		url('fonts/icomoon.woff?-nryy4j') format('woff'),
		url('fonts/icomoon.ttf?-nryy4j') format('truetype'),
		url('fonts/icomoon.svg?-nryy4j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-network:before {
	content: "\e600";
}
.icon-laptop:before {
	content: "\e601";
}
.icon-settings4:before {
	content: "\e603";
}
