<h2 class="container-title">{{device.name}} ({{device.ip}})</h2>
<p>Nom d'utilisateur : {{device.getUserName()}}</p>
<p>RAM totale : {{device.getMaxRAM()}} Go</p>

<p>Disques : </p>
<fieldset>
	<div v-with="mountedDisks : device.mountedDisks" class="disk-group">
		<div v-repeat="mountedDisks" class="disk-item">
			<p class="disk-item-name">{{name}} ({{root}})</p>
			<div class="disk-bar-total"></div>
			<div style="width: {{( getDiskUsed() * 100) / getDiskSize() }}%" class="disk-bar-used"></div>
			<p class="disk-item-storage" >{{getDiskUsed()}} Go d'espace utilisé / {{getDiskSize()}} Go</p>
		</div>
	</div>
</fieldset>

<br>

<p>Programmes installés ({{device.nbSoft}})</p>
<fieldset id="programmes-fieldset">
<p>Rechercher dans les programmes : <input v-model="programmes"></p>
<ul style="{{ programmes == '' ? 'display:none;' : '' }}" v-with="softInstalled : device.softInstalled">
	<li v-repeat="softInstalled | filterBy programmes in name">{{name}}</li>
</ul>
</fieldset>

<br>

<section class="logs">
	<div class="search-severity-group">
		<input type="radio" id="all" name="searchSeverity" value="" v-model="searchSeverity"><label for="all">all</label>
		<input type="radio" id="alert" name="searchSeverity" value="alert" v-model="searchSeverity"><label for="alert">alert</label>
		<input type="radio" id="critical" name="searchSeverity" value="critical" v-model="searchSeverity"><label for="critical">critical</label>
		<input type="radio" id="debug" name="searchSeverity" value="debug" v-model="searchSeverity"><label for="debug">debug</label>
		<input type="radio" id="error"name="searchSeverity" value="error" v-model="searchSeverity"><label for="error">error</label>
		<input type="radio" id="info" name="searchSeverity" value="info" v-model="searchSeverity"><label for="info">info</label>
		<input type="radio" id="notice" name="searchSeverity" value="notice" v-model="searchSeverity"><label for="notice">notice</label>
		<input type="radio" id="warning" name="searchSeverity" value="warning" v-model="searchSeverity"><label for="warning">warning</label>
	</div>
	<TABLE BORDER="1" width="80%">
		<CAPTION>Logs récents </CAPTION> 
  	<TR> 
	 	<TH> Heure </TH> 
	 	<TH> Sender </TH> 
	 	<TH> Type </TH> 
	 	<TH> Message </TH> 
  	</TR> 
  
  	<TR v-repeat="logs | filterBy searchSeverity in 'severity'"> 
	 	<TD > {{collected}} </TD> 
	 	<TD > {{facility}} </TD>
	 	<TD > {{severity}} </TD> 
		<TD > <p style="max-width: 450px; TEXT-OVERFLOW: ellipsis; word-wrap: break-word;">{{message}} </p></TD> 
  	</TR>

	</TABLE> 
	
</section>

