/*----------------------------------------*\
		couleur
\*----------------------------------------*/
$primary-color: green;
$color : #fff;
/*----------------------------------------*\
		Responsive
\*----------------------------------------*/
$medium-size: 40.063em !default;
$large-size:  64.063em !default;


/*----------------------------------------*\
		Grid
\*----------------------------------------*/
$total-columns : 12 !default;
$gutter: 20px !default;