.button {
	padding: 0.5em 1.5em;
	background-color: $primary-color;
	border: none;
	color: $color;
	cursor: pointer;
	&:hover{
		background-color: lighten($primary-color, 10);
	}
	&:active {
		background-color: darken($primary-color, 5);	
	}
}

.button-small { font-size: 0.6em; }
.button-large { font-size: 1.5em; }

.button-border {
	border: 2px solid $primary-color;
	background-color: $color;
	color: $primary-color;
	&:hover {
		border: 2px solid lighten($primary-color, 10);
		background-color: $color;
		color: lighten($primary-color, 10);
	}

}

.button-border-special {
	border: 2px solid $primary-color;
	background-color: $color;
	color: $primary-color;
	&:hover { 
		border: 2px solid $color;
		background-color: $primary-color;
		color: $color;
	}	
}

.button-rounded { border-radius: 0.25em; }