table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
    color: $color-container;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
}
  td.err {
    background-color: #e992b9;
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
  }
th {
    background-color: #31bc86;
    font-weight: bold;
    color: $color-menu;
    white-space: nowrap;
}
tbody th {
  background-color: $color-theme;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba($color-theme,.3);
}

.search-severity-group {
  margin-left: 150px;
}


form {
  width: 55%;
  margin: 0 auto;
}

input[type=text] {
  float: right;
}


/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    cursor: pointer;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
    background-color:#d0d0d0;
}