/*----------------------------------------*\
		Tools
\*----------------------------------------*/
/*----------------------------------------*\
		Base
\*----------------------------------------*/
@font-face {
  font-family: 'OpenSans';
  src: url("../font/opensans_semibold/OpenSans-Semibold-webfont.eot");
  src: url("../font/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans_semibold/OpenSans-Semibold-webfont.woff") format("woff"), url("../font/opensans_semibold/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../font/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after, *:hover {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #cccccc;
  font-family: "OpenSans", Serif;
}

.ok {
  color: #2ecc71;
}

.warning {
  color: #e67e22;
}

.error {
  color: #f22613;
}

table {
  border-collapse: collapse;
  margin-bottom: 3em;
  width: 100%;
  background: #fff;
  color: #666666;
}

td, th {
  padding: 0.75em 1.5em;
  text-align: left;
}

td.err {
  background-color: #e992b9;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  line-height: 1;
}

th {
  background-color: #31bc86;
  font-weight: bold;
  color: #363534;
  white-space: nowrap;
}

tbody th {
  background-color: #d89949;
}

tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all .125s ease-in-out;
}

tbody tr:hover {
  background-color: rgba(216, 153, 73, 0.3);
}

.search-severity-group {
  margin-left: 22%;
}

form {
  width: 55%;
  margin: 0 auto;
}

input[type=text] {
  float: right;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
  display: none;
  margin: 10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
  cursor: pointer;
}

/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label {
  background-image: none;
  background-color: #d0d0d0;
}

fieldset {
  margin-bottom: 15px;
}

/*----------------------------------------*\
		Layout
\*----------------------------------------*/
.l-topbar {
  height: 28px;
  background-color: #34495e;
  -webkit-app-region: drag;
}

.l-menubar {
  display: block;
  position: relative;
  min-height: 1px;
  width: 100%;
  height: 80px;
  color: #363534;
  background-color: #d89949;
}

.l-container {
  display: block;
  position: relative;
  min-height: 1px;
  width: 100%;
  height: calc(100% - 80px - 28px);
  overflow: overlay;
  padding: 0 10%;
  color: #666666;
}

/*----------------------------------------*\
		Modules
\*----------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon/icomoon.eot?-nryy4j");
  src: url("../font/icomoon/icomoon.eot?#iefix-nryy4j") format("embedded-opentype"), url("../font/icomoon/icomoon.woff?-nryy4j") format("woff"), url("../font/icomoon/icomoon.ttf?-nryy4j") format("truetype"), url("../font/icomoon/icomoon.svg?-nryy4j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon, .devices-item a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-network:before {
  content: "\e600";
}

.icon-laptop:before, .devices-item a:before {
  content: "\e601";
}

.icon-settings:before {
  content: "\e603";
}

.button {
  padding: 0.5em 1.5em;
  background-color: #d89949;
  border: none;
  color: #cccccc;
  cursor: pointer;
}
.button:hover {
  background-color: #e1b173;
}
.button:active {
  background-color: #d38d34;
}

.button-warning {
  background-color: #e67e22;
}
.button-warning .buuton-border {
  border: 2px solid #e67e22;
  background-color: #cccccc;
  color: #e67e22;
}
.button-warning .buuton-border:hover {
  border: 2px solid #eb9950;
  background-color: #cccccc;
  color: #eb9950;
}
.button-warning .button-border-special {
  border-width: 2px;
  border-style: solid;
  background-color: #cccccc;
  color: #e67e22;
}
.button-warning .button-border-special:hover {
  border: 2px solid #cccccc;
  background-color: #e67e22;
  color: #cccccc;
}

.button-error {
  background-color: #f22613;
}
.button-error .buuton-border {
  border: 2px solid #f22613;
  background-color: #cccccc;
  color: #f22613;
}
.button-error .buuton-border:hover {
  border: 2px solid #f55243;
  background-color: #cccccc;
  color: #f55243;
}
.button-error .button-border-special {
  border-width: 2px;
  border-style: solid;
  background-color: #cccccc;
  color: #f22613;
}
.button-error .button-border-special:hover {
  border: 2px solid #cccccc;
  background-color: #f22613;
  color: #cccccc;
}

.button-small {
  font-size: 0.6em;
}

.button-large {
  font-size: 1.5em;
}

.button-border {
  border: 2px solid #d89949;
  background-color: #cccccc;
  color: #d89949;
}
.button-border:hover {
  border: 2px solid #e1b173;
  background-color: #cccccc;
  color: #e1b173;
}

.button-border-special {
  border-width: 2px;
  border-style: solid;
  background-color: #cccccc;
  color: #d89949;
}
.button-border-special:hover {
  border: 2px solid #cccccc;
  background-color: #d89949;
  color: #cccccc;
}

.button-rounded {
  border-radius: 0.25em;
}

.topbar-group-button, .topbar-button {
  float: right;
  height: inherit;
  margin: 0;
  background-color: transparent;
  border: 0;
  -webkit-app-region: no-drag;
}

.topbar-button {
  padding: 0 14px;
}
.topbar-button:hover {
  transition: background-color 0.3s;
  cursor: pointer;
}

.topbar-close:hover {
  background-color: #ef4836;
}

.topbar-minimize:hover {
  background-color: #3498db;
}

.menu {
  float: right;
  line-height: 80px;
  font-size: 26.66667px;
  color: inherit;
}

.menu-item, .menu-item-back {
  display: inline-block;
  height: 100%;
  padding: 0 1em;
  color: inherit;
  text-decoration: none;
}
.menu-item:hover, .menu-item-back:hover {
  background-color: #e1b173;
}
.menu-item.is-active, .is-active.menu-item-back {
  border-bottom: 0.2em solid #363534;
}
.menu-item.is-hidden, .is-hidden.menu-item-back {
  display: none;
}

.menu-item-back {
  position: fixed;
  height: inherit;
  line-height: 80px;
  font-size: 26.66667px;
  color: inherit;
}

.container-title {
  display: block;
  position: relative;
  top: -0.6em;
  border-bottom: 4px solid #d89949;
  color: #d89949;
  font-size: 2rem;
  line-height: 2em;
}

.devices {
  width: 80%;
  margin-left: 15%;
}

.devices-item {
  width: 50%;
  height: 15%;
  float: left;
  margin-bottom: 1.5em;
  padding: 0.8em;
}
.devices-item.is-connected a:before {
  color: rgba(46, 204, 113, 0.5);
}
.devices-item.is-disconnected a:before {
  color: rgba(242, 38, 19, 0.5);
}
.devices-item:hover {
  transition-property: color, background-color;
  transition-duration: 0.5s;
  cursor: pointer;
}
.devices-item a {
  color: inherit;
  text-decoration: none;
}
.devices-item a:before {
  float: left;
  font-size: 4.5em;
  cursor: none;
}

.devices-item-name {
  display: block;
  margin: 0;
  margin-top: 5px;
  text-transform: uppercase;
}

.devices-item-status {
  display: block;
}

.devices-item-storage {
  display: block;
}
.devices-item-storage.is-unknown {
  color: #a6a6a6;
}
.devices-item-storage.is-safe {
  color: #2ecc71;
}
.devices-item-storage.is-critic {
  color: #e67e22;
}
.devices-item-storage.is-unsafe {
  color: #f22613;
}

.disk-group {
  width: 100%;
}

.disk-item {
  width: 50%;
  padding: 5px 10px;
  float: left;
  margin-bottom: 10px;
}
.disk-item:last-child {
  float: none;
  width: 50%;
  padding: 5px 10px;
}

.disk-bar-total {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 10px;
}

.disk-bar-used {
  height: 10px;
  background-color: #d89949;
  transition: width 1s;
  position: relative;
  top: -10px;
}

.disk-item-storage {
  position: relative;
  top: -10px;
  margin-top: 0;
  color: rgba(102, 102, 102, 0.5);
}

.disk-item-name {
  margin-bottom: 0;
}
